<div [ngClass]="appClass">
  <mat-toolbar class="mat-toolbar header" color="primary">
    <mat-toolbar-row [ngClass]="(isMobile$ | async) ? 'mobile' : 'desktop'">
      <!-- MC Logo -->
      <img src="assets/images/simple_logo.png" alt="Logo" class="logo" />
      <!-- Mobile template -->
      <ng-container *ngIf="(isMobile$ | async); else desktop">
        <button mat-icon-button (click)="null">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
      <!-- Desktop template -->
      <ng-template #desktop>
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/process">Services</a>
        <a href="/process">Book</a>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet />
  <mat-toolbar class="mat-toolbar footer" color="primary">
    <div class="stack">
      <a href="/">Home</a>
      <a href="/gallery">Gallery</a>
      <a href="/process">Process</a>
    </div>
    <div class="stack">
      <a href="/#contact">Contact</a>
      <a href="/process">Book</a>
    </div>
  </mat-toolbar>
</div>
